{
  "tabWidth": 4,
  "printWidth": 100,
  "vueIndentScriptAndStyle": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always"
}
