@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar track but keep the handle */
.modern-scrollbar::-webkit-scrollbar {
    width: 12px;
    margin-right: 4px
}

.modern-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    margin: 2px
}

.modern-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: padding-box
}
