.blocklyContainer
    height: 100%
    width: 100%
    text-align: left
    border: 0px solid #eee
    border-radius: 0px
.blocklyCanvas
    display: inline-block
    width:100%
    height:200px
    margin-top:0px
    margin-bottom:0px
    transition: opacity 600ms, visibility 600ms
.blocklyText
    font-family: 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-weight: 300
.blocklyEditableText
    .blocklyText
        font-weight:500
.blocklyMainBackground
    stroke:#fff
.blocklyScrollbarHandle
    fill:#f7f7f7
.blocklyToolboxDiv
    padding:4px 16px 4px 8px
    background-color:#f7f7f7
    border-right:1px solid rgb(221, 221, 221)

.blocklyTreeRow
    border-radius:3px
.blocklyTreeSelected
    .blocklyTreeLabel
        font-weight: 900
.blocklyTreeLabel
    font-family: 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif
    color:$blue-grey-10
    font-weight: 300
.blocklyFlyoutBackground
    fill:#f7f7f7
.blocklyFlyoutScrollbar
    .blocklyScrollbarHandle
        fill:rgb(221, 221, 221)