codeblockseditor > *,
codeblocks > *,
[codeblockseditor] > *,
[codeblocks] > * {
    display: none;
}

.red-wave {
    background: url("../images/red-wave.png") repeat-x;
    background-position-y: bottom;
}

.yellow-wave {
    background: url("../images/yellow-wave.png") repeat-x;
    background-position-y: bottom;
}

.gutter-warning,
.gutter-error {
    font-size: 16px !important;
    padding-top: 0px !important;
    margin-top: -5px !important;
    padding-left: 1px !important;
}

.gutter-error {
    color: #b71c1c !important;
}

.gutter-warning {
    color: #f9a825 !important;
}

div.CodeMirror.cm-s-solarized {
    box-shadow: none;
}

pre div#id {
    margin: 0px;
}

.modal-dialog {
    width: 840px !important;
}
